<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form th:action="@{/registration}"
      th:object="${registrationForm}"
      method="post">

  <input type="hidden"
         th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}"/>

  <div>
    <label>Имя пользователя:
      <input type="text" th:field="*{username}"/>
    </label>
    <div th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}">Ошибка</div>
  </div>

  <div>
    <label>Пароль:
      <input type="password" th:field="*{password}"/>
    </label>
    <div th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">Ошибка</div>
  </div>

  <div>
    <label>Повтор пароля:
      <input type="password" th:field="*{passwordConfirm}"/>
    </label>
    <div th:if="${#fields.hasErrors('passwordConfirm')}"
         th:errors="*{passwordConfirm}">Ошибка</div>
  </div>

  <button type="submit">Зарегистрироваться</button>
</form>

<p>Есть аккаунт? <a th:href="@{/login}">Войти</a></p>
</body>
</html>
